<template>
  <div class="column" :class="columnClasses">
    <slot></slot>
  </div>
</template>

<script>
  import SpectreBase from "../SpectreBase.vue"
  export default {
    name: "Column",
    extends: SpectreBase,
    props: {
      w: { default: null },
      xs: { default: null },
      sm: { default: null },
      md: { default: null },
      lg: { default: null },
      xl: { default: null },
      ml: { type: Boolean, default: null },
      mx: { type: Boolean, default: null },
      mr: { type: Boolean, default: null },
    },
    computed: {
      columnClasses() {
        let parts = this.baseClassParts;
        if( this.w ) {
          parts.push( "col-" + this.w );
        }
        if( this.xs ) {
          parts.push( "col-xs-" + this.xs );
        }
        if( this.sm ) {
          parts.push( "col-sm-" + this.sm );
        }
        if( this.md ) {
          parts.push( "col-md-" + this.md );
        }
        if( this.lg ) {
          parts.push( "col-lg-" + this.lg );
        }
        if( this.xl ) {
          parts.push( "col-xl-" + this.xl );
        }
        if( this.ml ) {
          parts.push( "col-ml-auto" );
        }
        if( this.mx ) {
          parts.push( "col-mx-auto" );
        }
        if( this.mr ) {
          parts.push( "col-mr-auto" );
        }
        return parts.join( " " );
      },
    },
  }
</script>
