<template>
  <div class="columns" :class="columnsClasses">
    <slot></slot>
  </div>
</template>

<script>
  import SpectreBase from "../SpectreBase.vue"
  export default {
    name: "Columns",
    extends: SpectreBase,
    props: {
      gapless: { type: Boolean, default: false },
      oneLine: { type: Boolean, default: false },
    },
    computed: {
      columnsClasses() {
        let parts = this.baseClassParts;
        if( this.gapless ) {
          parts.push( "col-gapless" );
        }
        if( this.oneLine ) {
          parts.push( "col-oneline" );
        }
        return parts.join( " " );
      },
    },
  }
</script>
