<template>
  <div class="container" :class="containerClasses">
    <slot></slot>
  </div>
</template>

<script>
  import SpectreBase from "../SpectreBase.vue"
  export default {
    name: "Container",
    extends: SpectreBase,
    props: {
      gridXs: { type: Boolean, default: false },
      gridSm: { type: Boolean, default: false },
      gridMd: { type: Boolean, default: false },
      gridLg: { type: Boolean, default: false },
      gridXl: { type: Boolean, default: false },
    },
    computed: {
      containerClasses() {
        let parts = this.baseClassParts;
        if( this.gridXs ) {
          parts.push( "grid-xs" );
        }
        if( this.gridSm ) {
          parts.push( "grid-sm" );
        }
        if( this.gridMd ) {
          parts.push( "grid-md" );
        }
        if( this.gridLg ) {
          parts.push( "grid-lg" );
        }
        if( this.gridXl ) {
          parts.push( "grid-xl" );
        }
        return parts.join( " " );
      },
    },
  }
</script>
