<template>
  <div class="hero" :class="heroClasses">
    <div class="hero-body">
      <slot name="title"><h1 v-if="hasTitle">{{ title }}</h1></slot>
      <slot></slot>
    </div>
  </div>
</template>

<script>
  import SpectreBase from "../SpectreBase.vue"
  export default {
    name: "Hero",
    extends: SpectreBase,
    props: {
      bg: { type: String, default: "gray" },
      sm: { type: Boolean, default: false },
      lg: { type: Boolean, default: false },
      title: { type: String, default: null },
    },
    computed: {
      heroClasses() {
        let parts = this.baseClassParts;
        if( this.sm ) {
          parts.push( "hero-sm" );
        }
        if( this.lg ) {
          parts.push( "hero-lg" );
        }
        return parts.join( " " );
      },
      hasTitle() {
        return ( this.title !== null );
      },
    },
  }
</script>
