<template>
  <section :class="navbarSectionClasses">
    <slot></slot>
  </section>
</template>

<script>
  import SpectreBase from "../SpectreBase.vue"
  export default {
    name: "NavbarSection",
    extends: SpectreBase,
    props: {
      center: { type: Boolean, default: false },
    },
    computed: {
      navbarSectionClasses() {
        let parts = this.baseClassParts;
        if( this.center ) {
          parts.push( "navbar-center" );
        } else {
          parts.push( "navbar-section" );
        }
        return parts.join( " " );
      },
    },
  }
</script>
