<template>
  <header class="navbar" :class="navbarClasses">
    <slot></slot>
  </header>
</template>

<script>
  import SpectreBase from "../SpectreBase.vue"
  export default {
    name: "Navbar",
    extends: SpectreBase,
    computed: {
      navbarClasses() {
        let parts = this.baseClassParts;
        return parts.join( " " );
      },
    },
  }
</script>
