<template>
  <div class="form-group">
    <slot name="label">
      <label v-if="label" class="form-label" :for="id">{{ label }}</label>
    </slot>
    <input
    class="form-input"
      :id="id"
      :name="name"
      :type="type"
      :placeholder="placeholder"
      :maxlength="maxlength"
      :required="required"
      :readonly="readonly"
      :disabled="disabled"
      :formnovalidate="formnovalidate"
      :autocomplete="autocompleteValue"
      :autofocus="autofocus"
      :pattern="pattern"
      :value="value"
      @input="onInput" />
  </div>
</template>

<script>
  export default {
    name: "InputText",
    props: {
      type: { type: String, default: "text" },
      id: { type: String, default: null },
      name: { type: String, default: null },
      label: { type: String, default: null },
      placeholder: { type: String, default: null },
      value: { type: String, default: "" },
      maxlength: { type: String, default: null },
      required: { type: Boolean, default: null },
      readonly: { type: Boolean, default: null },
      disabled: { type: Boolean, default: null },
      formnovalidate: { type: Boolean, default: null },
      autocomplete: { default: false },
      noAutocomplete: { type: Boolean, default: null },
      autofocus: { type: Boolean, default: null },
      pattern: { type: String, default: null },
    },
    computed: {
      autocompleteValue() {
        if( this.noAutocomplete ) {
          return "off";
        }
        if( this.autocomplete === true ) {
          return "on";
        }
        return this.autocomplete;
      },
    },
    methods: {
      onInput( e ) {
        this.$emit( "input", e.target.value );
      },
    },
  }
</script>
