<template>
  <button class="btn" :class="btnClasses" :disabled="disabled" @click="onClick">
    <slot></slot>
  </button>
</template>

<script>
  // import SpectreBase from "../SpectreBase.vue"
  export default {
    name: "Btn",
    // extends: SpectreBase,
    props: {
      sm: { type: Boolean, default: false },
      lg: { type: Boolean, default: false },
      primary: { type: Boolean, default: false },
      link: { type: Boolean, default: false },
      success: { type: Boolean, default: false },
      error: { type: Boolean, default: false },
      block: { type: Boolean, default: false },
      action: { type: Boolean, default: false },
      circle: { type: Boolean, default: false },
      active: { type: Boolean, default: false },
      disabled: { type: Boolean, default: false },
      loading: { type: Boolean, default: false },
    },
    computed: {
      btnClasses() {
        let parts = [];
        if( this.sm ) {
          parts.push( "btn-sm" );
        }
        if( this.lg ) {
          parts.push( "btn-lg" );
        }
        if( this.primary ) {
          parts.push( "btn-primary" );
        }
        if( this.link ) {
          parts.push( "btn-link" );
        }
        if( this.success ) {
          parts.push( "btn-success" );
        }
        if( this.error ) {
          parts.push( "btn-error" );
        }
        if( this.block ) {
          parts.push( "btn-block" );
        }
        if( this.action ) {
          parts.push( "btn-action" );
        }
        if( this.circle ) {
          parts.push( "s-circle" );
        }
        if( this.active ) {
          parts.push( "active" );
        }
        if( this.loading ) {
          parts.push( "loading" );
        }
        return parts.join( " " );
      },
    },
    methods: {
      onClick( e ) {
        this.$emit( 'click', e, this );
      },
    },
  }
</script>
