<template>
  <div class="btn-group" :class="btnGroupClasses">
    <slot></slot>
  </div>
</template>

<script>
  // import SpectreBase from "../SpectreBase.vue"
  export default {
    name: "BtnGroup",
    // extends: SpectreBase,
    props: {
      block: { type: Boolean, default: null },
    },
    computed: {
      btnGroupClasses() {
        let parts = [];
        if( this.block ) {
          parts.push( "btn-group-block" );
        }
        return parts.join( " " );
      },
    },
  }
</script>
